pkgbase = whatpulse
	pkgdesc = Measures your keyboard, mouse and application usage, network traffic and uptime.
	pkgver = 3.3
	pkgrel = 1
	url = http://www.whatpulse.org
	install = whatpulse.install
	arch = x86_64
	license = custom:whatpulse_tos
	makedepends = squashfs-tools
	depends = qt5-svg
	source = https://api.snapcraft.io/api/v1/snaps/download/iHVATX2faqAJciG5YGNM241W8fE8UvsF_8.snap
	source = LICENSE
	sha256sums = 36aba7cdb99a93504e324dff3d2b52b094c826a45bae1f80e9e1066f19f4506f
	sha256sums = b6ce2dada6ac7514dd9b74682939a4b5960343411469676cafb0d27d1530ad02

pkgname = whatpulse

