pkgbase = whatpulse
	pkgdesc = Measures your keyboard, mouse and application usage, network traffic and uptime.
	pkgver = 3.1
	pkgrel = 1
	url = http://www.whatpulse.org
	install = whatpulse.install
	arch = x86_64
	license = custom:whatpulse_tos
	makedepends = squashfs-tools
	depends = qt5-svg
	source = https://static.whatpulse.org/files/linux/whatpulse-linux-3.1_amd64.snap
	source = LICENSE
	sha256sums = cfcb071f696a423a70607e533e865eae08c6bbe812f9e482311e600f9032ab0c
	sha256sums = b6ce2dada6ac7514dd9b74682939a4b5960343411469676cafb0d27d1530ad02

pkgname = whatpulse

